
<script src="{{site.baseurl}}/assets/js/category_reveal.js"></script>

<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">
    <div class = "logo_end">
      Zac
    </div>
    <div class = "logo_middle">
      J.R.
    </div>
    <div class = "logo_end">
      Mann
    </div>
  </a>
  <nav class="main_menu">
    <a class = nav_a href="{{site.baseurl}}/about/">About</a>    <!--<button class = nav_as_text onclick="reveal_categories()">Categories</button>-->
  </nav>
</header> <!-- End Section Header -->
