
<script src="{{site.baseurl}}/assets/js/category_reveal.js"></script>

<section class="banner" data-vide-bg="{{site.baseurl}}/assets/banners/{{ site.banner-video }}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="titles">
    <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %} {% endif %}</h1>
    <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %} {% endif %}</h2>
  </div>
  <div class = "button_div" aria-hidden="true"> <button id = "reveal_button" onclick="reveal_categories()" title = "Show Categories"><i class="fa fa-angle-double-up"></i></button></div>
  <div id="revealable_div" class = "banner_slide">
  {% include category_tags.html %}
  </div>
</section> <!-- End Section Banner -->
